.App {
  height: 100vh;
  text-align: center;
  background-color: #cccccc;
}

#quadro {
  background-color: #eeeebb;
  width: 93%;
  max-width: 300px;
  margin: auto;
  padding: 10px;
  text-align: center;
}

#logo {
  width: 60%;
}

#tela1 {
  width: 90%;
  height: 90px;
  border: 1px solid;
  background-color: black;
  font-family: Courier New Courier;
  font-size: 30pt;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

#tela2 {
  width: 90%;
  height: 30px;
  border: 1px solid;
  background-color: black;
  font-family: Courier New Courier;
  font-size: 15pt;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.botao {
  width: 45%;
  height: 100px;
  border: black 1px solid;
  border-radius: 5px;
  font-size: 25pt;
  font-weight: bold;
  color: white;
}

#botaoA{
  background-color: red;
}
#botaoB{
  background-color: green;
}
#botaoC{
  background-color: blue;
}
#botaoD{
  background-color: yellow;
}

#start{
  width: 90%;
  height: 30px;   
  border: blue 1px solid;
  border-radius: 5px;
  background-color: white;
  color: blue;
  font-size: 11pt;
}